a:link {color:#c6302b;}
a:visited {color:#c6302b;}
a:hover {color:#000000;}
a:active {color:#000000;}
.Wp-Artistic-Body-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Artistic-Body-P-H:link {color:#f7f1d0;}
a.Wp-Artistic-Body-P-H:visited {color:#f7f1d0;}
a.Wp-Artistic-Body-P-H:hover {color:#000000;}
a.Wp-Artistic-Body-P-H:active {color:#000000;}
.Wp-Body-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Body-P-H:link {color:#f7f1d0;}
a.Wp-Body-P-H:visited {color:#f7f1d0;}
a.Wp-Body-P-H:hover {color:#000000;}
a.Wp-Body-P-H:active {color:#000000;}
.Wp-Body-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Date-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
a.Wp-Date-P-H:link {color:#f7f1d0;}
a.Wp-Date-P-H:visited {color:#f7f1d0;}
a.Wp-Date-P-H:hover {color:#000000;}
a.Wp-Date-P-H:active {color:#000000;}
.Wp-Heading-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Heading-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Heading-2-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Link-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Quote-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Sub-heading-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Title-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Tahoma", sans-serif;
}
.Wp-Placeholder-C
{
    font-family:"Tahoma", sans-serif;
}